<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=”description” content=”Application targeted for panel cutting optimization. It generates optimized cutting patterns based on the available stock sheets by nesting the required parts.”>
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <title>CutList Optimizer</title>
    <base href="#"/>

    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
    <link rel="styleSheet" href="angular-ui-grid/ui-grid.min.css"/>
    <link rel="styleSheet" href="angular-ui-grid/ui-grid.min.css"/>
    <link rel="styleSheet" href="angular-ui-grid/custom-ui-grid.css"/>
    <link rel="styleSheet" href="css/navbar.css"/>
    <link rel="styleSheet" href="css/toggle.css"/>
    <link rel="styleSheet" href="css/tiling.css"/>
    <link rel="styleSheet" href="material-icons/material-icons.css"/>

    <script data-require="jquery@*" data-semver="3.1.1" src="js/jquery-3.2.1.min.js"></script>

    <script data-require="jquery-ui@*" data-semver="1.12.1" src="jquery-ui-1.12.1/jquery-ui.min.js"></script>

    <script src="angular/angular.min.js"></script>

    <script data-require="ui-bootstrap@*" data-semver="0.12.0" src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>

    <script type="text/javascript" src="http://canvg.github.io/canvg/rgbcolor.js"></script>
    <script type="text/javascript" src="http://canvg.github.io/canvg/StackBlur.js"></script>
    <script type="text/javascript" src="http://canvg.github.io/canvg/canvg.js"></script>
    <script type="text/javascript" src="js/html2canvas.min.js"></script>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>

    <script src="d3/d3.min.js"></script>

    <script src="js/labels.js"></script>
    <script src="js/app.js"></script>
    <script src="js/draw-service.js"></script>
    <script src="js/tiling-data.js"></script>
    <script src="angular-ui-grid/ui-grid.min.js"></script>

    <script src="js/min/sortable.min.js"></script>
    <script src="js/min/angular-translate.min.js"></script>

    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43643199-9', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<body ng-controller="Tiling">

<div id="splash" class="splash">
<div class="splash-loading"></div>
    <img class="splash-loading" src="icon.png" alt="CutList Optimizer">
</div>

<div ng-show="isLoading || isBlocked">
    <div class="dim-background"></div>
    <div ng-cloak class="loading-modal" ng-click="cancelTilingRequest()">
        <div class="spinner">
        </div>
        <div class="loading-message" ng-bind="statusMessage || 'Computing...'"></div>
    </div>
</div>

<div class="hidden-lg hidden-md hidden-sm">
    <div ng-cloak id="floating-action" class="button-default" ng-show="(!invalidData && !isLoading) || (getNbrUsedTiles() === 0 || getNbrUsedStockTiles() === 0)" ng-click="compute()">
        <div id="floating-action-content">
            <i class="material-icons md-center md-36">play_arrow</i>
        </div>
    </div>
    <div ng-cloak id="floating-action" class="button-success" ng-show="invalidData && !isLoading && getNbrUsedTiles() > 0 && getNbrUsedStockTiles() > 0" ng-click="compute()">
        <div id="floating-action-content">
            <i class="material-icons md-center md-36">play_arrow</i>
        </div>
    </div>
</div>

<!-- Google play badge -->
<!--<div ng-cloak id="play-floating" class="hidden-xs" ng-show="tiling.getNbrMosaics() === 0 && !isLoading">-->
    <!--<a href='https://play.google.com/store/apps/details?id=com.cutlistoptimizer&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>-->
        <!--<img style="" height="70" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>-->
    <!--</a>-->
<!--</div>-->



<div id="navbar" ng-cloak class="navbar navbar-default navbar-fixed-top hidden-print">
    <div class="navbar-header navbar-brand" style="float: left;" href="#"><i class="material-icons navbar-logo">dashboard</i><div style="float: right;">&nbsp;&nbsp;{{ 'TITLE' | translate }}</div></div>

    <button ng-show="invalidData && !isLoading" class="btn btn-top button-success hidden-xs" style="width: 110px" ng-click="compute()" href="#"><i class="material-icons md-center hidden-xs">play_arrow</i></span> {{ 'CALCULATE' | translate }}</button>
    <button ng-show="!invalidData && !isLoading" class="btn btn-top button-default hidden-xs" style="width: 110px" ng-click="compute()" href="#"><i class="material-icons md-center hidden-xs">play_arrow</i></span> {{ 'CALCULATE' | translate }}</button>
    <button ng-show="isLoading && tiling.getNbrMosaics() > 0" class="btn btn-top button-success hidden-xs" style="width: 110px" ng-click="cancelTilingRequest()" href="#"><i class="material-icons md-center hidden-xs">stop</i></span> {{ 'ACCEPT' | translate }}</button>
    <button ng-show="isLoading && tiling.getNbrMosaics() === 0" class="btn btn-top button-danger hidden-xs" style="width: 110px" ng-click="cancelTilingRequest()" href="#"><i class="material-icons md-center hidden-xs">stop</i></span> {{ 'CANCEL' | translate }}</button>

    <div class="navbar-header pull-right">

        <button ng-disabled="!drawService.isPannedOrZoomed()" class="btn btn-top button-default hidden-xs" ng-click="drawService.reset()" data-toggle="tooltip" data-placement="top" title="Mostrar dimensões" href="#"><i class="material-icons md-center hidden-xs">zoom_out_map</i></span></button>

        <button ng-hide="drawService.getIsSvgPannable()" class="btn btn-top button-default hidden-xs" ng-click="drawService.toggleIsSvgPannable()" data-toggle="tooltip" data-placement="top" title="Toggle zoom and drag" href="#"><i class="material-icons md-center hidden-xs">open_with</i></span></button>
        <button ng-show="drawService.getIsSvgPannable()" class="btn btn-top button-enabled hidden-xs" ng-click="drawService.toggleIsSvgPannable()" data-toggle="tooltip" data-placement="top" title="Toggle zoom and drag" href="#"><i class="material-icons md-center hidden-xs">open_with</i></span></button>


        <button ng-hide="isTilingInfoVisible" style="margin-right: 7px" class="btn btn-top button-default hidden-xs" ng-click="toggleIsTilingInfoVisible()" data-toggle="tooltip" data-placement="top" title="Toggle info" href="#"><i class="material-icons md-center hidden-xs">chrome_reader_mode</i></span></button>
        <button ng-show="isTilingInfoVisible" style="margin-right: 7px" class="btn btn-top button-enabled hidden-xs" ng-click="toggleIsTilingInfoVisible()" data-toggle="tooltip" data-placement="top" title="Toggle info" href="#"><i class="material-icons md-center hidden-xs">chrome_reader_mode</i></span></button>

        <button class="btn btn-top button-default hidden-xs" ng-click="generatePdf()" data-toggle="tooltip" data-placement="top" title="Export to PDF file" href="#"><i class="material-icons md-center">picture_as_pdf</i></span></button>

        <button ng-show="drawService.getIsSvgPannable()" ng-disabled="!drawService.isPannedOrZoomed()" type="button" style="color: white;" class="btn btn-transparent hidden-lg hidden-md hidden-sm" ng-click="drawService.reset()" data-toggle="tooltip" data-placement="top" title="Reset zoom" href="#"><i class="material-icons md-center">zoom_out_map</i></span></button>

        <button type="button" style="color: white; padding-right: 15px" class="btn btn-top dropdown-toggle btn-transparent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons md-center md-28">menu</i>
        </button>
        <ul class="dropdown-menu">
            <li><a class="hidden-lg hidden-md hidden-sm" ng-click="drawService.toggleIsSvgPannable()" href="#"><i ng-show="drawService.getIsSvgPannable()" class="material-icons md-center">check_box</i><i ng-show="!drawService.getIsSvgPannable()" class="material-icons md-center">check_box_outline_blank</i> {{ 'ALLOW_ZOOM' | translate }}</a></li>
            <li><a class="hidden-lg hidden-md hidden-sm" ng-click="generatePdf()" href="#"></span><i class="material-icons md-center">insert_drive_file</i> {{ 'EXPORT_PDF' | translate }}</a></li>
            <li><a ng-click="reset()" href="#"><i class="material-icons md-center">cached</i> {{ 'RESET_DATA' | translate }}</a></li>
            <li><a href="mailto:pedroedrasousa@gmail.com?subject=CutList Optimizer feedback"><i class="material-icons md-center">feedback</i> {{ 'SEND_FEEDBACK' | translate }}</a></li>

            <li class="divider"></li>
            <li><a ng-click="changeLanguage('en')" href="#"><i class="material-icons md-center">language</i> English</a></li>
            <li><a ng-click="changeLanguage('pt')" href="#"></span><i class="material-icons md-center">language</i> Português</a></li>

        </ul>

    </div>
</div>

<div ng-cloak class="container-fluid navbar-padding">
    <div class="row content">
        <div id="sidenav" class="col-sm-3 sidenav">
            <div id="tiles-header" class="side-bar-accordion-toggle hidden-print" ng-click="isTilesGridCollapsed = !isTilesGridCollapsed">
                <i class="material-icons md-center">view_carousel</i>
                <span ng-show="isTilesGridCollapsed" class="glyphicon glyphicon-chevron-down pull-right" style="padding-top: 4px"></span>
                <span ng-hide="isTilesGridCollapsed" class="glyphicon glyphicon-chevron-up pull-right" style="padding-top: 4px"></span>
                {{ 'PANELS' | translate }}
            </div>
            <div id="tiles-grid" ng-if="!isGridReloding" class="sidebar-section hidden-print" collapse="isTilesGridCollapsed">
                <div ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellnav class="grid1"></div>
            </div>

            <div class="side-bar-accordion-toggle hidden-print" ng-click="isStockGridCollapsed = !isStockGridCollapsed">
                <i class="material-icons md-center">layers</i>
                <span ng-show="isStockGridCollapsed" class="glyphicon glyphicon glyphicon-chevron-down pull-right" style="padding-top: 4px"></span>
                <span ng-hide="isStockGridCollapsed" class="glyphicon glyphicon glyphicon-chevron-up pull-right" style="padding-top: 4px"></span>
                {{ 'STOCK' | translate }}
            </div>
            <div id="stock-tiles-grid" ng-if="!isGridReloding" class="sidebar-section hidden-print" collapse="isStockGridCollapsed">
                <div ui-grid="stockGridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellnav class="grid2"></div>
            </div>

            <div class="side-bar-accordion-toggle hidden-print" ng-click="isBaseOptionsCollapsed = !isBaseOptionsCollapsed">
                <i class="material-icons md-center">settings</i>
                <span ng-show="isBaseOptionsCollapsed" class="glyphicon glyphicon glyphicon-chevron-down pull-right" style="padding-top: 4px"></span>
                <span ng-hide="isBaseOptionsCollapsed" class="glyphicon glyphicon glyphicon-chevron-up pull-right" style="padding-top: 4px"></span>
                {{ 'OPTIONS' | translate }}
            </div>
            <div class="hidden-print col-xs-12" style="padding-right: 25px" collapse="isBaseOptionsCollapsed">
                <div class="form-horizontal" style="padding-top: 8px">
                    <div class="form-group">
                        <span class="control-label col-xs-9">{{ 'CUT_THICKNESS' | translate }}</span>
                        <div class="col-xs-3">
                            <input style="width: 40px;" type="number" class="form-control input-xs" ng-model="cfg.cutThickness">
                        </div>
                        <span class="control-label col-xs-9">{{ 'ALLOW_TILE_ROTATION' | translate }}</span>
                        <div class="col-xs-3">
                            <label class="switch">
                                <input ng-model="cfg.allowTileRotation" type="checkbox">
                                <div class="slider round"></div>
                            </label>
                        </div>
                        <span class="control-label col-xs-9">{{ 'FORCE_ONE_STOCK_PANEL' | translate }}</span>
                        <div class="col-xs-3" style="float: left;">
                            <label class="switch">
                                <input ng-model="cfg.forceOneBaseTile" type="checkbox">
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="mosaics" style="margin-bottom: -25px">&nbsp;</div>

            <!--<div class="side-bar-accordion-toggle hidden-print" ng-click="isAdvancedOptionsCollapsed = !isAdvancedOptionsCollapsed">-->
            <!--<i class="material-icons md-center">build</i>-->
            <!--<span ng-show="isAdvancedOptionsCollapsed" class="glyphicon glyphicon glyphicon-chevron-down pull-right" style="padding-top: 4px"></span>-->
            <!--<span ng-hide="isAdvancedOptionsCollapsed" class="glyphicon glyphicon glyphicon-chevron-up pull-right" style="padding-top: 4px"></span>-->
            <!--{{ 'OPTIONS2' | translate }}-->
            <!--</div>-->
            <!--<div class="hidden-print" collapse="isAdvancedOptionsCollapsed">-->
            <!--<div class="form-horizontal top-buffer" style="margin: 10px 10px 5px 10px;">-->
            <!--<button ng-click="dataToUrl();">dataToURL</button>-->
            <!--<div class="form-group">-->
            <!--<span class="control-label col-xs-8">discard above</span>-->
            <!--<div class="col-xs-4">-->
            <!--<input style="" type="number" class="form-control input-xs" ng-model="cfg.accuracyFactor">-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div id="priority-table" style="font-size: 13px;">-->
            <!--<table class="table table-hover table-condensed table-striped">-->
            <!--<thead>-->
            <!--<tr>-->
            <!--<th>Prioridade</th>-->
            <!--<th>Métrica</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody ui-sortable ng-model="cfg.priorities">-->
            <!--<tr ng-repeat="item in cfg.priorities" class="item" style="cursor: move;">-->
            <!--<td>{{$index}}</td>-->
            <!--<td>{{item}}</td>-->
            <!--</tr>-->
            <!--</tbody>-->
            <!--</table>-->
            <!--</div>-->
            <!--<div class="col-xs-12">-->
            <!--<input ng-repeat="item in cfg.priorities" class="form-control input-xs" ng-model="item">-->
            <!--</div>-->
            <!--</div>-->
        </div>

        <div id="main-content" class="col-sm-9">

            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- cutlistoptimizer -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8842771397553828"
                 data-ad-slot="8178697603"
                 data-ad-format="auto"></ins>
            <script>
                //                    (adsbygoogle = window.adsbygoogle || []).push({});
                $(document).ready(function(){(adsbygoogle = window.adsbygoogle || []).push({})})
            </script>



            <div ng-show="errorMessage" class="alert alert-danger top-buffer">
                <strong>{{ ('ERROR' | translate) + '\! '}}</strong><span style="white-space: pre-line" ng-bind="errorMessage"></span>
            </div>



            <!--<div class="form-group top-buffer">-->
                <!--<label class="control-label col-sm-2">Language:</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<div class="dropdown">-->
                        <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                            <!--Dropdown-->
                            <!--<span class="caret"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
                            <!--<li><a href="#">English</a></li>-->
                            <!--<li><a href="#">Portuguese</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li><a href="#">Help translating <i class="material-icons md-center">language</i></a></li>-->
                        <!--</ul>-->
                    <!--</div>                </div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="control-label col-sm-2" for="pwd">Password:</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="password" class="form-control" id="pwd" placeholder="Enter password">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<div class="col-sm-offset-2 col-sm-10">-->
                    <!--<div class="checkbox">-->
                        <!--<label><input type="checkbox"> Remember me</label>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<div class="col-sm-offset-2 col-sm-10">-->
                    <!--<button type="submit" class="btn btn-default">Submit</button>-->
                <!--</div>-->
            <!--</div>-->



            <div id="main" class="row">
                <div ng-class="isTilingInfoVisible? 'col-md-8 mosaic' : 'col-md-12 mosaic'" class="col-md-8 mosaic">
                    <div id="svg-canvas"></div>
                </div>

                <div ng-show="isTilingInfoVisible" class="col-md-4 hidden-print top-buffer info-container" style="font-size: 13px;" id="DivRightContent">

                    <div ng-show="tiling.getNbrMosaics() > 0" class="panel panel-default">
                        <div class="panel-heading"><h6 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="{{'#info'}}" style="cursor: pointer">Info
                            <span class="accordion-toggle"></span>
                            <button ng-show="tiling.getNbrMosaics() > 1" class="btn-transparent pull-right glyphicon glyphicon-menu-right pull-right" ng-click="incrementVisibleTileInfoIdx(); $event.stopPropagation();"></button>
                            <span ng-show="tiling.getNbrMosaics() > 1" class="pull-right">{{('PANEL' | translate) + ' ' + (visibleTileInfoIdx + 1) + '/' + tiling.getNbrMosaics()}}</span>

                            <button ng-show="tiling.getNbrMosaics() > 1" class="btn-transparent glyphicon glyphicon-menu-left pull-right" ng-click="decrementVisibleTileInfoIdx(); $event.stopPropagation();"></button>
                        </h6></div>
                        <div id="{{'info'}}" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div id="stats-table">
                                    <table id="t1" class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <th>{{ 'PANEL' | translate }}</th>
                                            <td ng-bind="formatDimension(tiling.getMosaics()[visibleTileInfoIdx].base.width * dimfactor) + 'x' + formatDimension(tiling.getMosaics()[visibleTileInfoIdx].base.height * dimfactor)"></td>
                                        </tr>
                                        <tr>
                                            <th>{{ 'USED_AREA' | translate }}</th>
                                            <td ng-bind="Math.round(tiling.getMosaics()[visibleTileInfoIdx].usedAreaRatio * 100) + '%'"></td>
                                        </tr>
                                        <tr>
                                            <th>{{ 'WASTED_AREA' | translate }}</th>
                                            <td ng-bind="formatDimension(tiling.getMosaics()[visibleTileInfoIdx].unusedArea * dimfactor * dimfactor)"></td>
                                        </tr>
                                        <tr>
                                            <th>{{ 'PANELS' | translate }}</th>
                                            <td ng-bind="tiling.getMosaics()[visibleTileInfoIdx].nbrHorizontal + tiling.getMosaics()[visibleTileInfoIdx].nbrVertical"></td>
                                        </tr>
                                        <tr>
                                            <th>{{ 'WASTED_PANELS' | translate }}</th>
                                            <td ng-bind="tiling.getMosaics()[visibleTileInfoIdx].nbrWasted"></td>
                                        </tr>
                                        <tr>
                                            <th>{{ 'CUTS' | translate }}</th>
                                            <td ng-bind="tiling.getMosaics()[visibleTileInfoIdx].cuts.length"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="tiling.getNbrNoFitTiles() > 0">
                        <div class="panel-group" id="no-fit-tiles">
                            <div class="panel panel-default panel-error">
                                <div class="panel-heading panel-heading-error">
                                    <h6 class="panel-title">
                                        <div class="accordion-toggle" data-toggle="collapse" data-parent="#no-fit-tiles" data-target="{{'#noFitTiles'}}" style="cursor: pointer">
                                            {{ 'UNABLE_TO_FIT' | translate }}
                                        </div>
                                    </h6>
                                </div>
                                <div id="{{'noFitTiles'}}" class="panel-collapse collapse in">
                                    <div class="panel-body">

                                        <table id="cut-table" class="table table-hover table-condensed table-striped">
                                            <thead>
                                            <tr>
                                                <th>Painel</th>
                                                <th>Qtd</th>
                                            </tr>
                                            </thead>
                                            <tbody style="font-size: 13px;">
                                            <tr ng-repeat="tile in tiling.getNoFitTiles() track by $index">
                                                <!--<th ng-bind="$index + 1"></th>-->
                                                <td><span ng-bind="formatDimension(tile.width * dimfactor)"></span><span class="math">&#215;</span><span ng-bind="formatDimension(tile.height * dimfactor)"></span></td>
                                                <td><span ng-bind="tile.qty"></span></td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div ng-show="tiling.getNbrCuts() > 0">
                        <div id="cuts" class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title">
                                        <div class="accordion-toggle" href="javascript:;" data-toggle="collapse" data-parent="#cuts" data-target="{{'#cuts'}}" style="cursor: pointer">
                                            {{ 'CUTS' | translate }}
                                        </div>
                                    </h6>
                                </div>
                                <div id="{{'cuts'}}" class="panel-collapse collapse in">
                                    <div class="panel-body">

                                        <table id="cut-table" class="table table-hover table-condensed table-striped">
                                            <thead>
                                            <tr>
                                                <th> </th>
                                                <th>{{ 'PANEL' | translate }}</th>
                                                <th>{{ 'CUT' | translate }}</th>
                                                <th>{{ 'DIM' | translate }}</th>
                                            </tr>
                                            </thead>
                                            <tbody ng-repeat="mosaic in tiling.getMosaics() track by $index" style="font-size: 13px;">
                                            <tr ng-repeat="cut in tiling.getCuts($index) track by $index" ng-mouseover="drawService.drawCut(mosaic, cut)" ng-mouseleave="drawService.resetSvgOverlayElems()">
                                                <th ng-bind="$index + 1"></th>
                                                <td ><span ng-bind="formatDimension(cut.originalWidth * dimfactor)"></span><span class="math">&#215;</span><span ng-bind="formatDimension(cut.originalHeight * dimfactor)"></span></td>
                                                <td><span class="math" ng-bind="cut.isHorizontal ? 'x=' : 'y='"></span><span ng-bind="formatDimension(cut.cutCoords * dimfactor)"></span></td>
                                                <td ng-bind="formatDimension(Math.max(cut.x2 - cut.x1, cut.y2 - cut.y1) * dimfactor)"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--<pre class="col-md-12">-->
        <!--<small>"{{tiling.getData() | json}}"></small>-->
        <!--</pre>-->

    </div>

<div >
    <div ng-repeat="a in range(Math.ceil(tiling.getMosaics().length/nbrDiagramsPerPag)) track by $index">
        <div id="pdf-info-{{$index}}" style="display: none; background-color:#ffffff; width: 500px; max-width: 500px; padding: 50px 100px 0px 50px; font-size: 20px; font-family: Arial, Helvetica, sans-serif;">
            <div ng-repeat="mosaic in tiling.getMosaics().slice($index * nbrDiagramsPerPag, Math.min($index * nbrDiagramsPerPag + nbrDiagramsPerPag, tiling.getMosaics().length)) track by $index">
                <table class="table pdf-table">
                    <tbody>
                    <tr style="background-color: #ddd">
                        <th>{{('PANEL' | translate) + ' ' + ($parent.$index * nbrDiagramsPerPag + $index + 1) + '/' + tiling.getNbrMosaics()}}</th>
                        <th ng-bind="mosaic.base.width * dimfactor + 'x' + mosaic.base.height * dimfactor"></th>
                    </tr>
                    <tr>
                        <th>{{ 'USED_AREA' | translate }}</th>
                        <td ng-bind="Math.round(mosaic.usedAreaRatio * 100) + '%'"></td>
                    </tr>
                    <tr>
                        <th>{{ 'WASTED_AREA' | translate }}</th>
                        <td ng-bind="mosaic.unusedArea * dimfactor * dimfactor"></td>
                    </tr>
                    <tr>
                        <th>{{ 'PANELS' | translate }}</th>
                        <td ng-bind="mosaic.nbrHorizontal + mosaic.nbrVertical"></td>
                    </tr>
                    <tr>
                        <th>{{ 'WASTED_PANELS' | translate }}</th>
                        <td ng-bind="mosaic.nbrWasted"></td>
                    </tr>
                    <tr>
                        <th>{{ 'CUTS' | translate }}</th>
                        <td ng-bind="mosaic.cuts.length"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div ng-repeat="a in range(Math.ceil(tiling.getMosaics().length/nbrDiagramsPerPag)) track by $index">
        <div id="pdf-cuts-{{$index}}" style="display: none; background-color:#ffffff; width: 500px; max-width: 500px; padding: 50px 100px 0px 50px; font-size: 20px; font-family: Arial, Helvetica, sans-serif;">
            <div ng-repeat="mosaic in tiling.getMosaics().slice($index * nbrDiagramsPerPag, Math.min($index * nbrDiagramsPerPag + nbrDiagramsPerPag, tiling.getMosaics().length)) track by $index">
                <table class="table pdf-table">
                    <thead>
                    <tr style="background-color: #ddd">
                        <th> </th>
                        <th>{{ 'PANEL' | translate }}</th>
                        <th>{{ 'CUT' | translate }}</th>
                        <th>{{ 'DIM' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="cut in tiling.getCuts($index) track by $index">
                        <th ng-bind="$index + 1"></th>
                        <td ><span ng-bind="formatDimension(cut.originalWidth * dimfactor)"></span><span class="math">&#215;</span><span ng-bind="formatDimension(cut.originalHeight * dimfactor)"></span></td>
                        <td><span class="math" ng-bind="cut.isHorizontal ? 'x=' : 'y='"></span><span ng-bind="formatDimension(cut.cutCoords * dimfactor)"></span></td>
                        <td ng-bind="formatDimension(Math.max(cut.x2 - cut.x1, cut.y2 - cut.y1) * dimfactor)"></td>
                    </tr>
                    <!--<tr>-->
                        <!--<th>{{ 'USED_AREA' | translate }}</th>-->
                        <!--<td ng-bind="Math.round(mosaic.usedAreaRatio * 100) + '%'"></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<th>{{ 'WASTED_AREA' | translate }}</th>-->
                        <!--<td ng-bind="mosaic.unusedArea * dimfactor * dimfactor"></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<th>{{ 'PANELS' | translate }}</th>-->
                        <!--<td ng-bind="mosaic.nbrHorizontal + mosaic.nbrVertical"></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<th>{{ 'WASTED_PANELS' | translate }}</th>-->
                        <!--<td ng-bind="mosaic.nbrWasted"></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<th>{{ 'CUTS' | translate }}</th>-->
                        <!--<td ng-bind="mosaic.cuts.length"></td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

    <!--<div id="pdf-info" style="display: none; background-color:#ffffff; width: 500px; max-width: 500px; padding: 50px 100px 0px 50px; font-size: 20px; font-family: Arial, Helvetica, sans-serif;">-->
        <!--<div ng-repeat="mosaic in tiling.getMosaics().slice(1, 3) track by $index">-->
            <!--<table class="table pdf-table">-->
                <!--<tbody>-->
                <!--<tr style="background-color: #ddd">-->
                    <!--<th>{{('PANEL' | translate) + ' ' + ($index + 1) + '/' + tiling.getNbrMosaics()}}</th>-->
                    <!--<th ng-bind="mosaic.base.width * dimfactor + 'x' + mosaic.base.height * dimfactor"></th>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th>{{ 'USED_AREA' | translate }}</th>-->
                    <!--<td ng-bind="Math.round(mosaic.usedAreaRatio * 100) + '%'"></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th>{{ 'WASTED_AREA' | translate }}</th>-->
                    <!--<td ng-bind="mosaic.unusedArea * dimfactor * dimfactor"></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th>{{ 'PANELS' | translate }}</th>-->
                    <!--<td ng-bind="mosaic.nbrHorizontal + mosaic.nbrVertical"></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th>{{ 'WASTED_PANELS' | translate }}</th>-->
                    <!--<td ng-bind="mosaic.nbrWasted"></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th>{{ 'CUTS' | translate }}</th>-->
                    <!--<td ng-bind="mosaic.cuts.length"></td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    <!--</div>-->
    </div>



</body>
</html>
